<nav class="blue darken-1">
      <div class="nav-wrapper">
        <a href="#/" class="brand-logo center">{{"dn.layout.main.title" | translate}}</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li class="active"><a ng-href="#/">Contact</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Test 1</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
            <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
      </div>
    </nav>

    <div class="container">
        <div data-ng-include="'src/layout/main/main.html'"></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>