<!-- NAVBAR -->
<div id="dnt-menubar">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">User</a></li>
          <li><a href="badges.html">Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- NAVBAR -->
<!-- SIDENAV-->
<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<!-- SIDENAV-->
<!-- CONTENT -->
<div class="container">
    <div data-ng-include="'src/layout/main/main.html'"></div>
</div>
<!-- CONTENT -->
<!-- FOOTER -->
<div class="footer tobottom">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>
<!-- FOOTER-->