<!-- NAVBAR -->
<div class="navbar-fixed">
  <nav class="nav-extended card blue-grey">
    <div class="nav-wrapper">
      <!--a href="#" class="brand-logo">{{"dn.layout.main.title" | translate}}</a-->
      <ul id="nav-mobile" class="left">
        <li>
          <a href="#" data-activates="mobile-demo" class="dnt-button-collapse"><i class="material-icons">menu</i></a>
        </li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li>
          <a href="sass.html"><img src="images/yuna.jpg" alt="User" width="20" height="20">
          <span class=" hide-on-med-and-down">:Daniela Mercado</span>
          </a>
        </li>
        <li>
          <a href="badges.html">
            <i class="material-icons">lock</i>  
          </a>
        </li>
        <li>
          <a href="#modal">
            <i class="material-icons">settings</i>
          </a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>

      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">{{"dn.layout.menu.tabs.records" | translate}}</a></li>
        <li class="tab"><a class="active" href="#test2">{{"dn.layout.menu.tabs.pets" | translate}}</a></li>
        <li class="tab disabled"><a href="#test3">{{"dn.layout.menu.tabs.owners" | translate}}</a></li>
        <li class="tab"><a href="#test4">{{"dn.layout.menu.tabs.products" | translate}}</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- NAVBAR -->
<span><br /></span>
<span><br /></span>
<span><br /></span>
<!-- MAIN BUTTON -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating blue-grey darken-4"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating blue-grey darken-3"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating blue-grey darken-2"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue-grey darken-1"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
<!-- MAIN BUTTON -->  
<!-- SIDENAV-->
<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<!-- SIDENAV-->
<!-- CONTENT -->
<div id="dnt-container" class="container">
    <div data-ng-include="'src/pets/pets.html'"></div>
</div>
<!-- CONTENT -->
<!-- FOOTER -->
<div class="footer tobottom">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span>dannita</p>
  </div>
</div>
<!-- FOOTER-->
<!-- MODAL -->
<div id="modal" class="modal" ng-controller="LayoutCtrl as vm">
  <div class="modal-content">
    <h4>{{"dnt.settings.title" | translate}}</h4>
    <!-- Switch -->
    <div class="switch">
      <label>
        {{"dnt.language.es" | translate}}
        <input type="checkbox" ng-model="vm.defaultLang" ng-change="vm.changeLanguage()">
        <span class="lever"></span>
        {{"dnt.language.en" | translate}}
      </label>
    </div>
  </div>
</div>
<!-- MODAL -->