.dnn-layout-header{
	background-image: url(assets/images/bg.jpg);
}
.footer.tobottom{
    position:absolute !important;
    bottom:0 !important;
    width:100%;
}
.fixed-action-btn.ng-scope {
    top: 67px;
    bottom: inherit !important;
}